force-app/main/default/flows/MX_Bot_Create_Article.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Change the Publish status to Online from the knowledge article</description>
        <name>Change_from_draft_to_publish</name>
        <label>Change from Draft to Publish</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Knowledge_article.PublishStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>publishstatus</name>
        <label>Validate if the article is published ?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>successfully_msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Draft Status</defaultConnectorLabel>
        <rules>
            <name>online_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_from_draft_to_publish</targetReference>
            </connector>
            <label>Online status</label>
        </rules>
    </decisions>
    <description>Create a knowledge article from a case</description>
    <environments>Default</environments>
    <formulas>
        <name>URLName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Title}, &quot; &quot;, &quot;-&quot;)</expression>
    </formulas>
    <interviewLabel>MX_Bot_Create_Article {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MX_Bot_Create_Article</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Knowledge_article</name>
        <label>Create Knowledge article</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>KnowledgeArticleId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Knowledge_article</targetReference>
        </connector>
        <inputAssignments>
            <field>IsVisibleInCsp</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVisibleInPkb</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVisibleInPrm</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012O5000000v3kLIAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution__c</field>
            <value>
                <elementReference>Solution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary</field>
            <value>
                <elementReference>recordId.Case.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UrlName</field>
            <value>
                <elementReference>URLName</elementReference>
            </value>
        </inputAssignments>
        <object>Knowledge__kav</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Knowledge_article</name>
        <label>Get Knowledge article</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_status_article</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KnowledgeArticleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>successfully_msg</targetReference>
        </connector>
        <inputReference>Get_Knowledge_article</inputReference>
    </recordUpdates>
    <screens>
        <name>Change_status_article</name>
        <label>Change status article</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>publishstatus</targetReference>
        </connector>
        <fields>
            <name>Question_status</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(19, 120, 215); font-size: 14px;&quot;&gt;Do you want to put your knowledge article in Online ?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_your_knowledge_article</name>
        <label>Create your knowledge article</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Knowledge_article</targetReference>
        </connector>
        <fields>
            <name>HeaderText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(19, 120, 215); font-size: 14px;&quot;&gt;Verify the content of your knowledge article:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Case.Subject</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Solution</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Case.Description</elementReference>
            </defaultValue>
            <fieldText>Solution</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>successfully_msg</name>
        <label>successfully_msg</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Creation_successfully</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(19, 120, 215); font-family: sans-serif; font-size: 14px;&quot;&gt;Your knowledge article is created successfully !!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_your_knowledge_article</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>KnowledgeArticleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingSession</objectType>
    </variables>
</Flow>
